.vs/
.vscode/
.idea/
.xmake-global/
.xmake-pkg-cache/
.xmake-pkg-install/
**/.xmake/
**/build/
**/dist/
**/logs/
**/.cache/
*.db
*.VC.db
*.VC.opendb
*.suo
*.user
*.ilk
*.pdb
*.exe
*.obj
*.obj.d
*.log
imgui.ini
CppProperties.json
